In [1]:
import pandas as pd
import os
import shutil

In [20]:
LABEL_PATH = '../label'
MOVE_PATH = '../aug_data/aug_shape'
DATA_PATH = '../data/mask_front'

In [21]:
csv = pd.read_csv(os.path.join(LABEL_PATH, 'shape.csv'))
df = pd.DataFrame(csv)
df.head()

   Unnamed: 0  index             No  shape
0           0      0  197400571.jpg      5
1           1      1  198803039.jpg      8
2           2      2  200703756.jpg      5
3           3      3  199703153.jpg      8
4           4      4  200004062.jpg      5

In [22]:
dir_list = df['shape'].unique().tolist()

In [23]:
for i in dir_list:
    os.mkdir(MOVE_PATH + '/' + str(i) )

In [11]:
for i in range(len(df)):
    shutil.copy(os.path.join(DATA_PATH, df['No'][i]), os.path.join(MOVE_PATH, str(df['shape'][i])))